
/* consistent across all pages */
body{
    background-color:rgb(247, 247, 247);
    color:rgb(62, 62, 62);
    font-family: sans-serif;
}
img{
    left:0;
    top:0;
    width:70px;
}



/* authpage css */
.authPage #authBox{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:350px;
    padding:40px;
    border-radius: 12px;
    border: 1px solid rgb(224, 222, 222);
}
.authPage h2{
    text-align: center;
}
.authPage input{
    margin-bottom:10px;
    width:100%;
    padding:12px;
    border-radius: 5px;
    border: 0.5px solid rgb(191, 191, 191);
}
.authPage button{
    color:rgb(62, 62, 62);
    margin-bottom:5px;
    text-align: center;
    width:105%;
    padding:12px;
    background-color: pink;
    border-radius: 20px;
    border:0px;
    font-family: sans-serif;
}
.authPage button:hover {
    cursor:pointer;
    background-color: rgb(255, 179, 192);
}

#loginPage #registerBox{
    text-align: center;
}
#loginPage a {
    text-decoration: none;
}

.authPage .passwordContainer{
    position: relative;
}

.authPage .passwordContainer .fa-eye {
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(180, 180, 180);
}




/*library css */
#libraryPage .cardBox {
    background-color: white;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #d9dde8;
}

#libraryPage .cardBox:hover{
    cursor:pointer;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    transform: translateY(-2px);
    
}

#libraryPage .cardRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#libraryPage .buttonRow {
    display: flex;
    gap: 8px;
}


#libraryPage .cardRow p{
    font-size:12px;
}

#libraryPage .cardRow button{
    font-size:12px;
    color:rgb(62, 62, 62);
    padding:5px;
    text-align: center;
    background-color: pink;
    border-radius: 20px;
    border:0px;
    font-family: sans-serif;
}

#libraryPage .cardRow button:hover{
    cursor:pointer;
    background-color: rgb(255, 179, 192);
}